@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <title>@Localizer["Title"]</title>
</head>


<!-- Team-->
<section class="section section-lg bg-gray-100 section-lined">
    <div class="container container-lined">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
        </div>
    </div>
    <div class="container">
        <div class="row row-40 justify-content-between">
            <div class="col-lg-7 col-xl-8">
                <div class="row no-gutters">
                    <div class="col-sm-6 wow fadeInLeft">
                        <div class="box box-team box-team-right">
                            <a href="http://kantar.esit.com.tr/img/Portfolio/esit_gallery_dino_2.jpg" data-fancybox="group">
                                <img src="~/img/Portfolio/esit_gallery_dino_2.jpg" alt="portfolio" width="390" height="362" />
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6 wow fadeInRight">
                        <div class="box box-team box-team-right">
                            <a href="http://kantar.esit.com.tr/img/Portfolio/esit_gallery_dino.jpg" data-fancybox="group">
                                <img src="~/img/Portfolio/esit_gallery_dino.jpg" alt="portfolio" width="390" height="362" />
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6 wow fadeInLeft" data-wow-delay="0.2s">
                        <div class="box box-team box-team-right">
                            <a href="http://kantar.esit.com.tr/img/Portfolio/esit_gallery_hippo.jpg" data-fancybox="group">
                                <img src="~/img/Portfolio/esit_gallery_hippo.jpg" alt="portfolio" width="390" height="362" />
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6 wow fadeInRight" data-wow-delay="0.2s">
                        <div class="box box-team box-team-right">
                            <a href="http://kantar.esit.com.tr/img/Portfolio/esit_gallery_hippo_9.jpg" data-fancybox="group">
                                <img src="~/img/Portfolio/esit_gallery_hippo_9.jpg" alt="portfolio" width="390" height="362" />
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6 wow fadeInRight" data-wow-delay="0.2s">
                        <div class="box box-team box-team-right">
                            <a href="http://kantar.esit.com.tr/img/Portfolio/esit_gallery_hippo_5.jpg" data-fancybox="group">
                                <img src="~/img/Portfolio/esit_gallery_hippo_5.jpg" alt="portfolio" width="390" height="362" />
                            </a>
                        </div>
                    </div>
                    <a class="col-sm-6 box-border box-border-home" href="/@Thread.CurrentThread.CurrentUICulture.Name/Gallery/Index">
                        <div style="font-size:63px;" class="icon icon-sm mdi mdi-arrow-right"></div>
                    </a>
                </div>
            </div>
            <div class="col-lg-5 col-xl-4">
                <div class="row row-30 row-xxl-55 justify-content-end">
                    <div class="col-sm-6 col-lg-9 col-xl-10 text-lg-right">
                        <h3 class="offset-left-70">@Localizer["AciklamaTitle3"]</h3>
                        <div class="big-text">@Localizer["Aciklama3"]</div>
                        <div class="divider divider-2 d-none d-lg-block"></div>
                    </div>
                    <div class="col-sm-6 col-lg-8 col-xl-7">
                        <div class="counter-minimal">
                            <div class="counter-left">
                                <div style="color: #EF4223" class="counter">40</div>
                            </div>
                            <div class="counter-right">
                                <div class="postfix">- 100</div>
                                <div class="title">@Localizer["Ton"]</div>
                            </div>
                        </div>
                        <ul class="list-marked list-marked-big">
                            <li>@Localizer["Madde1.a"]<br>@Localizer["Madde1.b"]</li>
                            <li>@Localizer["Madde2"]</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Blurb minimal-->

<h3 class="text-center" style="margin-top:3%;">@Localizer["Siteler"]</h3>
<section class="section section-lg bg-default section-lined">
    <div class="container container-lined">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
        </div>
    </div>
    <div class="container">
        <div class="row row-40">
            <div class="col-sm-6 col-md-4 offset-left-16 wow fadeInUp">
                <!-- Blurb minimal-->
                <div class="blurb-minimal unit unit-spacing-sm flex-column flex-lg-row">
                    <div class="unit-left">
                    </div>
                    <div class="unit-body">
                        <a href="https://www.esit.com.tr/tr">
                            <img src="~/img/ESIT_ANASAYFA.jpg" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 wow fadeInUp" data-wow-delay="0.2s">
                <!-- Blurb minimal-->
                <div class="blurb-minimal unit unit-spacing-sm flex-column flex-lg-row">
                    <div class="unit-left">
                    </div>
                    <div class="unit-body">
                        <a href="http://www.kantarpazari.com/">
                            <img src="~/img/Esit_KantarPazari.jpg" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 wow fadeInUp" data-wow-delay="0.4s">
                <!-- Blurb minimal-->
                <div class="blurb-minimal unit unit-spacing-sm flex-column flex-lg-row">
                    <div class="unit-left">
                    </div>
                    <div class="unit-body">
                        <a href="http://endustri4.esit.com.tr/">
                            <img src="~/img/ENDUSTRI4.jpg" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Branding-->
<section class="section section-lg bg-gray-700 text-center text-sm-left sectionBackground">
    <div class="container">
        <div class="row row-40">
            <div class="col-lg-9">
                <div class="row row-30 row-xxl-85">
                    <div class="col-sm-6 col-md-4">
                        <h5 class="sectionTitleColor">@Localizer["Hippo"]</h5>
                        <ul class="list-xs font-weight-regular">
                            <li>
                                <a class="link-item sectionTitleColor" href="#">
                                    @Localizer["HippoOzellikler"]
                                </a>
                            </li>
                            <li>
                                <a class="link-item sectionTitleColor" href="#">
                                    @Localizer["HippoOzellikler2"]

                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-4 sectionTitleColor">
                        <h5 class="sectionTitleColor">@Localizer["Dino"]</h5>
                        <ul class="list-xs font-weight-regular">
                            <li>
                                <a class="link-item sectionTitleColor" href="#">
                                    @Localizer["DinoOzellikler"]
                                </a>
                            </li>
                            <li>
                                <a class="link-item sectionTitleColor" href="#">
                                    @Localizer["DinoOzellikler2"]
                                </a>
                            </li>

                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <h5 class="sectionTitleColor">Komodo</h5>
                        <ul class="list-xs font-weight-regular">
                            <li>
                                <a class="link-item sectionTitleColor" href="#">
                                    @Localizer["KomodoOzellikler"]
                                </a>
                            </li>
                            <li>
                                <a class="link-item sectionTitleColor" href="#">
                                    @Localizer["KomodoOpsiyon"]

                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <article class="box-counter sectionTitleColor">
                            <div class="box-counter-main sectionTitleColor">
                                <div class="counter sectionTitleColor">42</div><span class="small small_top"></span>
                            </div>
                            <div class="box-counter-title sectionTitleColor">@Localizer["Deneyim"]</div>
                        </article>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <article class="box-counter">
                            <div class="box-counter-main">
                                <div class="counter sectionTitleColor">33</div>
                            </div>
                            <div class="box-counter-title sectionTitleColor">@Localizer["Sube"]</div>
                        </article>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="heading-3 sectionTitleColor">@Localizer["AciklamaTitle2"]</div>
                <div class="big text-white-lighter text-white-darken sectionTitleColor">@Localizer["Aciklama2"]</div>

            </div>
        </div>
    </div>
</section>

